@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@200&display=swap");
* {
  color: #04d4a0;
}

body {
  font-family: "Sofia Sans Condensed", "sans-serifa";
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
  color: #16c955;
}

.wrapper {
  margin: 0 auto;
  max-width: 1080px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: "Courier New", Courier, monospace;
  size: 16px;
  text-align: left;
  color: #4e4e4e;
}

ul > li {
  list-style: none;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #04d4a0;
}

li a {
  text-transform: uppercase;
  color: #fcfcfc;
  font-size: 16px;
  text-decoration: none;
}

.social a {
  border-right: 1px solid black;
}

a {
  padding-right: 9px;
}

a.last_links {
  border-right: none;
}

body {
  background-color: #0e3c52;
  color: white;
}

table,
tr,
th,
td {
  border: none;
  border-collapse: collapse;
}

th {
  background-color: #065c55;
  color: #fff;
}

table {
  background: #579aa7;
}

td,
th {
  text-align: left;
  padding: 9px;
}

td {
  color: black;
}

.row {
  border-bottom-left-radius: 45%;
  height: 250px;
  background-color: #c3a964;
  display: grid;
  grid-template-columns: 190px 1fr;
}

.content_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(../img/DSC_0193.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.content_biograf {
  padding-left: 20px;
}

.content_biograf h1,
.content_biograf p,
.content_biograf strong,
.content_biograf em {
  font-size: 18px;
  color: black;
}

.content_hobbi {
  border-radius: 10px;
  background-color: #0c5572;
  padding: 5px 15px 15px 15px;
}

.content_hobbi li {
  padding: 3px;
  border-bottom: 1px solid #fdfdfd;
  width: calc(100% - 80%);
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.social {
  border-radius: 10px;
  margin: 15px 0 15px 0;
  background: #1882ec;
  padding: 10px;
}

.social a {
  color: #eeeeee;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.social h2 {
  color: #0cd8d8;
}

.card_table {
  background: #778899;
  border-radius: 10px;
  padding: 20px;
}

.card_table h2 {
  color: black;
}

.form-row {
  margin-bottom: 10px;
  background: #ffffff;
  padding: 15px;
}

.form-row .form-group {
  display: inline-block;
  margin-right: 20px;
  width: 46%;
}

.form-row .form-group:last-child {
  margin-right: 0;
}

.form_input {
  width: 100%;
}

.form_input h3 {
  text-align: center;
}

.form_input input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.form_input textarea {
  border: 1px solid plack;
  outline: none;
  border: 1px solid grey;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: black;
}

.btn {
  background: #000000;
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 10px;
  padding: 15px;
}

.table tr:nth-child(2n + 2) {
  background: #c7ccce;
}

.table td:hover {
  background: #c3a964;
}

.kurs {
  padding: 15px;
  background-color: #0c5572;
}

h3 {
  margin: 0 auto;
}

@media (max-width: 700px) {
  .content_img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 450px) {
  .row {
    height: 100vh;
  }
}
