.wrapper {
  margin: 0 auto;
  max-width: 1080px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: "Courier New", Courier, monospace;
  size: 16px;
  text-align: left;
  color: #4e4e4e;
}

img {
  width: 180px;
  padding-right: 10px;
}

ul > li {
  list-style: none;
}

li a {
  text-transform: uppercase;
  color: grey;
  font-size: 16px;
  text-decoration: none;
}

img {
  width: 100px;
}

.social a {
  border-right: 1px solid black;
}

a {
  padding-right: 9px;
}

a.last_links {
  border-right: none;
}

body {
  background-color: #0e3c52;
  color: white;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: #065c55;
}

td,
th {
  text-align: left;
  padding: 9px;
}

.row {
  height: 250px;
  background-color: #dde01e;
  display: grid;
  grid-template-columns: 190px 1fr;
}

.contebte_img {
  width: 100%;
  background-image: url(../img/DSC_0193.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.content_biograf {
  padding-left: 20px;
}

.content_hobbi {
  background-color: #0c5572;
  padding: 5px 15px 15px 15px;
}

.content_hobbi li {
  padding: 3px;
}

.social {
  margin-bottom: 15px;
}

.social a {
  color: white;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.form_input {
  width: 300px;
}

.form_input input {
  width: 180px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  display: block;
}
